<div class='container'>
    <div class='col-md-10'>
        <div class='row'>
            <div class='top__top'>
                <h2>ようこそ Bookers へ！<h2>
            </div>
            <div class='top__middle'>
                Bookers では、さまざまな書籍に関するあなたの意見や<br />
                印象を共有し交換することができます
            </div>
            <div class='top__bottom'>
                <%= link_to 'start', books_path,class:'top__bottom__link' %>
            </div>
        </div>
    </div>
</div>
